In [1]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('zillow_data.csv')
df.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

In [3]:
df_DC = df.loc[df['State'] == 'DC']
df_chicago = df.loc[df['City'] == 'Chicago']

In [4]:
df_DC.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
29,66126,20002,Washington,DC,Washington,District of Columbia,30,94300.0,94000.0,93700.0,...,662800,668000,672200,673100,674600,678200,680900,683000,687500,691300
33,66133,20009,Washington,DC,Washington,District of Columbia,34,178800.0,179200.0,179600.0,...,1020000,1027500,1034300,1040500,1047400,1055400,1065900,1076400,1081000,1078200
181,66135,20011,Washington,DC,Washington,District of Columbia,182,118900.0,118500.0,118200.0,...,582200,586200,591200,593200,591200,589500,590800,599100,611400,619100
246,66142,20019,Washington,DC,Washington,District of Columbia,247,91300.0,91000.0,90600.0,...,291100,296300,302500,306700,308800,310800,313400,314100,311800,308600
258,66125,20001,Washington,DC,Washington,District of Columbia,259,92000.0,92600.0,93200.0,...,765000,768800,771200,773300,777600,780500,781600,785500,791400,793300

In [10]:
df_DC.transpose().head()

,29,33,181,246,258,402,1263,1448,1707,2066,2581,2653,5297,5339,5453,5805,6484,6887
RegionID,66126,66133,66135,66142,66125,66143,66132,66127,66151,66139,66134,66131,66146,66140,66141,66155,66138,66136
RegionName,20002,20009,20011,20019,20001,20020,20008,20003,20032,20016,20010,20007,20024,20017,20018,20037,20015,20012
City,Washington,Washington,Washington,Washington,Washington,Washington,Washington,Washington,Washington,Washington,Washington,Washington,Washington,Washington,Washington,Washington,Washington,Washington
State,DC,DC,DC,DC,DC,DC,DC,DC,DC,DC,DC,DC,DC,DC,DC,DC,DC,DC
Metro,Washington,Washington,Washington,Washington,Washington,Washington,Washington,Washington,Washington,Washington,Washington,Washington,Washington,Washington,Washington,Washington,Washington,Washington

In [5]:
df_DC.groupby('RegionName').sum()

,RegionID,SizeRank,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
RegionName,,,,,,,,,,,,,,,,,,,,,
20001,66125,259,92000.0,92600.0,93200.0,93900.0,94600.0,95400.0,96100.0,96800.0,...,765000,768800,771200,773300,777600,780500,781600,785500,791400,793300
20002,66126,30,94300.0,94000.0,93700.0,93600.0,93400.0,93400.0,93400.0,93600.0,...,662800,668000,672200,673100,674600,678200,680900,683000,687500,691300
20003,66127,1449,130000.0,130100.0,130200.0,130400.0,130600.0,130900.0,131400.0,131900.0,...,801000,807200,811900,813400,814600,814600,815300,817300,820200,820200
20007,66131,2654,358100.0,356000.0,353900.0,351700.0,349600.0,347500.0,345800.0,344400.0,...,1329300,1330800,1324900,1314100,1303500,1296500,1293000,1291200,1291000,1290000
20008,66132,1264,450100.0,448200.0,446300.0,444500.0,442900.0,441600.0,440700.0,440100.0,...,1501600,1508800,1509700,1506000,1509100,1514300,1519400,1527900,1539600,1545900
20009,66133,34,178800.0,179200.0,179600.0,180000.0,180300.0,180700.0,181200.0,181800.0,...,1020000,1027500,1034300,1040500,1047400,1055400,1065900,1076400,1081000,1078200
20010,66134,2582,110500.0,111200.0,112000.0,112900.0,113800.0,114900.0,116100.0,117400.0,...,732800,741700,750900,756300,759300,761800,763500,767800,774700,778200
20011,66135,182,118900.0,118500.0,118200.0,117800.0,117600.0,117400.0,117400.0,117500.0,...,582200,586200,591200,593200,591200,589500,590800,599100,611400,619100
20012,66136,6888,185000.0,184900.0,184700.0,184400.0,184100.0,183900.0,183700.0,183800.0,...,688500,692000,696100,699400,703800,709400,714400,720100,727400,730700
20015,66138,6485,312400.0,311000.0,309800.0,308700.0,307900.0,307400.0,307300.0,307700.0,...,1000500,1004000,1005300,1003700,1002900,1003600,1004400,1006400,1007200,1004000
20016,66139,2067,362000.0,361200.0,360300.0,359400.0,358500.0,357700.0,357000.0,356500.0,...,1202900,1198700,1196400,1190400,1184800,1183600,1186600,1190000,1196000,1199500
20017,66140,5340,121700.0,121400.0,121200.0,121000.0,120900.0,120900.0,121100.0,121400.0,...,534300,534300,535300,535600,532600,531000,534400,542300,548400,548900
20018,66141,5454,123000.0,122400.0,121800.0,121200.0,120700.0,120400.0,120200.0,120200.0,...,533200,535200,534700,533100,534500,538700,542200,548300,553800,554100
20019,66142,247,91300.0,91000.0,90600.0,90400.0,90100.0,89900.0,89700.0,89600.0,...,291100,296300,302500,306700,308800,310800,313400,314100,311800,308600
20020,66143,403,104500.0,103800.0,103000.0,102200.0,101400.0,100600.0,100000.0,99500.0,...,314700,317600,321800,324500,324800,324900,324900,327300,332800,337000
20024,66146,5298,209800.0,208200.0,206600.0,205000.0,203300.0,201900.0,200500.0,199300.0,...,879200,866900,860100,864500,874100,878200,882300,885500,886900,885000
20032,66151,1708,85700.0,85500.0,85400.0,85200.0,85000.0,84800.0,84600.0,84400.0,...,288100,293400,297800,301500,303700,304000,304600,306800,308200,307400
20037,66155,5806,277800.0,275800.0,273700.0,271600.0,269500.0,267600.0,265800.0,264200.0,...,906400,914900,918700,923400,938900,953100,967600,990100,1013500,1019600

In [9]:
df_DC.Date = pd.to_datetime(df_DC[, format='%y/%m')
df_DC.Date

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing